/* font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Common CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  /* font-optical-sizing: auto;  */
  font-weight: 400;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1320px;
  margin: 0 auto;
}

.cmn-btn a {
  font-size: 16px;
  padding: 15px 18px;
  background-color: #30b868;
  border: 1px solid;
  border-radius: 5px;
  color: white;
}

.cmn-btn a:hover {
  color: #30b868;
  background-color: #ffffff;
  border: 1px solid #30b868;
  border-radius: 5px;
  transition: all ease 0.5s;
}

/* *************** */

/* Menu */

.menu {
  padding: 20px;
}

.menu .container {
  display: flex;
  align-items: center;
  /* margin-bottom: 15px; */
}
.menu .list {
  margin-left: auto;
}

.menu .list ul {
  display: flex;
}

.menu .list ul li a {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  margin-right: 30px;
}

.menu .list ul li a:hover {
  color: #30b868;
  transition: all ease 0.5s;
}

.get-btn {
  margin-left: 300px;
}

/****** Banner ******/

.banner {
  background-image: url(../images/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 900px;
  display: flex;
  margin-bottom: 36px;
  /* align-items: center; */
  /* justify-content: center; */
}
.banner .container {
  text-align: center;
}

.banner .early-access {
  padding-top: 170px;
  padding-bottom: 70px;
}

.banner .early-access .items {
  padding: 14px 25px;
  border-radius: 25px;
  background-color: #fff;
  color: #30b868;
}

.banner .early-access .items i {
  font-size: 16px;
  padding-right: 12px;
}

.banner .banner-text h2 {
  font-size: 72px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
}

.banner .banner-text h3 {
  font-size: 72px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: rgba(48, 184, 104, 1);
  text-transform: capitalize;
  padding-bottom: 15px;
}

.banner .banner-text p {
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  line-height: 35px;
  padding-bottom: 25px;
}

.banner .banner-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  gap: 20px;
}

.banner .banner-btns .btn-one {
  padding: 16px 16px;
  background-color: #30b868;
  border: 1px solid;
  border-radius: 5px;
  color: white;
}
.banner .banner-btns .btn-one:hover {
  background-color: transparent;
  transition: all ease 0.5s;
}
.banner .banner-btns .btn-one .btn-tx {
  padding: 16px 10px;
  font-size: 16px;
  color: #fff;
}
.banner .banner-btns .btn-one .btn-icon {
  padding-right: 12px;
  font-size: 20px;
  color: #fff;
}

.banner .banner-btns .btn-two {
  padding: 16px 16px;
  background-color: transparent;
  border: 1px solid;
  border-radius: 5px;
  color: white;
}
.banner .banner-btns .btn-two:hover {
  background-color: #30b868;
  transition: all ease 0.5s;
}
.banner .banner-btns .btn-two .btn-tx {
  padding: 16px 10px;
  font-size: 16px;
  color: #fff;
}
.banner .banner-btns .btn-two .btn-icon {
  padding: 0px 8px 0px 5px;
  font-size: 20px;
  color: #fff;
}

/****** Card  */

.card .container {
  text-align: center;
}

.card-title h2 {
  font-size: 48px;
  color: #001931;
  font-weight: 700;
  padding-bottom: 20px;
}

.card-title p {
  font-size: 14px;
  color: #627382;
  padding-bottom: 40px;
}
.card .card-items {
  display: flex;
  justify-content: space-between;
}
.card .card-items .item {
  width: calc((100% / 4) - (90px / 4));
  box-shadow: 0 0 10px 0 #00000052;
  justify-items: center;
  text-align: center;
  border-radius: 5px;
  padding-bottom: 30px;
  margin-bottom: 120px;
}

.card-items .item .item-icon {
  width: 60px;
  height: 60px;
  background-color: rgba(249, 85, 85, 1);
  border-radius: 50%;
  margin-top: 70px;
}

.card-items .item .item-icon img {
  padding-top: 15px;
  cursor: pointer;
}

.card-items .item h4 {
  font-size: 20px;
  color: #000;
  font-weight: 600;
  padding-top: 16px;
}

.card-items .item p {
  font-size: 16px;
  color: #627382;
  padding-top: 16px;
  max-width: 270px;
}

/*=******* Second Brain */

.second-brain .container {
  display: flex;
  gap: 60px;
  margin-bottom: 120px;
}

.second-brain .brain-text {
  padding-top: 100px;
}

.second-brain .brain-text h5 {
  font-size: 16px;
  color: #30b868;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 16px;
}

.second-brain .brain-text h2 {
  font-size: 48px;
  color: #001931;
  font-weight: 700;
  max-width: 600px;
  text-transform: capitalize;
  padding-bottom: 16px;
}

.second-brain .brain-text p {
  font-size: 16px;
  color: #627382;
  line-height: 25px;
  max-width: 500px;
}

.second-brain .brain-text .gap {
  width: 500px;
  height: 40px;
}

.second-brain .brain-text .blue-tik {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 8px;
  max-height: 200px;
  width: 500px;
  /* padding-top: 40px; */
}

.second-brain .brain-text .blue-tik span {
  color: #30b868;
  font-size: 16px;
  padding-top: 10px;
}

.second-brain .brain-text .blue-tik p {
  font-size: 16px;
  color: #001931;
  font-weight: 600;
  padding-top: 10px;
}

/* Think MOre -------- */

.think-more .container {
  text-align: center;
  background-color: ;
  background-color: rgba(247, 246, 242, 1);
  height: 450px;
  margin-bottom: 120px;
}

.think-more .container h2 {
  font-size: 48px;
  color: #001931;
  font-weight: 700;
  text-transform: capitalize;
  padding-top: 80px;
  padding-bottom: 16px;
}

.think-more .container p {
  font-size: 18px;
  color: #627382;
  line-height: 25px;
  padding-bottom: 24px;
}
.think-more .get-bt {
  padding: 24px 0;
}
.think-more .get-bt a {
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  padding: 12px 16px;
  background-color: #30b868;
  border: 3px solid transparent;
  border-radius: 5px;
}

.think-more .get-bt a:hover {
  background-color: #fff;
  border: 3px solid #30b868;
  color: #30b868;
  transition: all ease 0.5s;
}

.think-more .get-bt a span {
  padding-left: 15px;
}

.think-more p .gaps {
  padding-bottom: 80px;
}

/** Footer  */

.footer-section {
  background-color: #001931;
}
.footer-section .foodter-contant {
  padding-top: 120px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
}

.social .social-text h6 {
  font-size: 20px;
  color: #fff;
  padding-bottom: 10px;
}
.social .social-icon a {
  padding-right: 8px;
}
.social .social-icon i {
  padding: 5px 5px;
  color: #000;
  background-color: #fff;
  border-radius: 50%;
}

.copy-right .border {
  border-top: 2px solid #627382;
}

.copy-right .copy-right-text {
  text-align: center;
  padding: 30px 0;
}

.copy-right .copy-right-text p {
  color: #fafafa;
}
