/* font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Common CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  /* font-optical-sizing: auto;  */
  font-weight: 400;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1320px;
  margin: 0 auto;
}

.cmn-btn a {
  font-size: 16px;
  padding: 15px 18px;
  background-color: #30b868;
  border: 1px solid;
  border-radius: 5px;
  color: white;
}

.cmn-btn a:hover {
  color: #30b868;
  background-color: #ffffff;
  border: 1px solid #30b868;
  border-radius: 5px;
  transition: all ease 0.5s;
}

/* *************** */

/* Menu */

.menu {
  padding: 20px;
}

.menu .container {
  display: flex;
  align-items: center;
  /* margin-bottom: 15px; */
}
.menu .list {
  margin-left: auto;
}

.menu .list ul {
  display: flex;
}

.menu .list ul li a {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  margin-right: 30px;
}

.menu .list ul li a:hover {
  color: #30b868;
  transition: all ease 0.5s;
}

.get-btn {
  margin-left: 300px;
}

/****** Banner ******/

.banner {
  background-image: url(../images/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 900px;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}
.banner .container {
  text-align: center;
}

.banner .early-access {
  padding-top: 170px;
  padding-bottom: 70px;
}
.banner .early-access span a {
  font-size: 16px;
  padding: 8px 12px 8px 34px;
  background-color: #fff;
  color: #30b868;
  border: 2px solid #30b868;
  border-radius: 50px;
}

.banner .banner-text h2 {
  font-size: 72px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
}

.banner .banner-text h3 {
  font-size: 72px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: rgba(48, 184, 104, 1);
  text-transform: capitalize;
  padding-bottom: 15px;
}

.banner .banner-text p {
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  line-height: 35px;
  padding-bottom: 25px;
}

.banner .banner-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  gap: 20px;
}

.banner .banner-btns .btn-one {
  padding: 16px 16px;
  background-color: #30b868;
  border: 1px solid;
  border-radius: 5px;
  color: white;
}
.banner .banner-btns .btn-one:hover {
  background-color: transparent;
  transition: all ease 0.5s;
}
.banner .banner-btns .btn-one .btn-tx {
  padding: 16px 10px;
  font-size: 16px;
  color: #fff;
}
.banner .banner-btns .btn-one .btn-icon {
  padding-right: 12px;
  font-size: 20px;
  color: #fff;
}

.banner .banner-btns .btn-two {
  padding: 16px 16px;
  background-color: transparent;
  border: 1px solid;
  border-radius: 5px;
  color: white;
}
.banner .banner-btns .btn-two:hover {
  background-color: #30b868;
  transition: all ease 0.5s;
}
.banner .banner-btns .btn-two .btn-tx {
  padding: 16px 10px;
  font-size: 16px;
  color: #fff;
}
.banner .banner-btns .btn-two .btn-icon {
  padding: 0px 8px 0px 5px;
  font-size: 20px;
  color: #fff;
}
